.awesome {
  background-color: #ffffff;
  padding: 100px 0;
  width: 100%;
}
.title::after {
  display: block;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: 2px;
  background: #d98943;
  content: "";
}
.awesome_text {
  margin-bottom: 67px;
}

.awesome_box-item {
  width: 350px;
  margin: 0 15px;
}
.awesome_box-item-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70px;
  height: 70px;
  border: 1px solid #d98943;
  border-radius: 50%;
}
.awesome_box-item-title {
  margin-top: 30px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 340px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  text-align: center;
}
.awesome_box-item-texts {
  margin-bottom: 9px;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-weight: 400;
}
@media (max-width: 1139px) {
  .awesome_box-item {
    margin-bottom: 20px;
  }
  .awesome_box-item:last-child {
    margin-top: 20px;
  }
}
@media (max-width: 814px) {
  .awesome_box-item:last-child {
    margin-top: 0;
  }
}
@media (max-width: 385px) {
  .awesome_box-item {
    width: 320px;
    margin: 0 0 20px 0;
  }
  .subtitle {
    width: 320px;
  }
  .awesome_box-item-title {
    width: 320px;
  }
}
