.customers {
  padding: 80px 0 100px 0;
  width: 100%;
}
.title::after {
  display: block;
  margin: 34px auto;
  width: 64px;
  height: 2px;
  background: #e72424;
  content: "";
}
.customers_text {
  margin-bottom: 67px;
}
.customers_box-item {
  width: 298px;
  margin: 0 15px;
}
.text {
  background-color: #e2e2e2;
  margin: auto;
  border-radius: 7px;
}
.customers_box-item-texts {
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", sans-serif;
  color: #86878b;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 22px;
  padding: 9px 22px 6px 23px;
  position: relative;
}
.customers_box-item-texts::after {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #e2e2e2;
  margin-top: 6px;
  margin-left: 16px;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.customers_box-item-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.customers_box-item-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 12px;
}
@media (max-width: 983px) {
  .customers_box-item {
    margin-bottom: 20px;
  }
  .customers_box-item:last-child {
    margin-top: 20px;
  }
}
