.pricing{
    background-color: #E5E5E5;
    padding: 100px 0 100px 0;
    width: 100%;
}

    
}
.pricing_title::after{
    display: block;
    margin: 34px auto;
    width: 64px;
    height: 2px;
    background: #E72424;
    content: "";
}
.pricing_text{
    margin-bottom: 63px;
}

.pricing_box-item{
    width: 340px;
    height: 467px;
}
.rate{
    color: #FFFFFF; 
    margin: 0 0 1px 0; 
    padding-top: 15px;
    padding-bottom: 8px;
    background-color: #333333;
}

.price{
width: 340px;
background-color: #333333;
color: #FFFFFF;
margin: 0 0 2px 0;
font-family: 'Raleway', sans-serif;
text-align: center;
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 41px;
padding-top: 26px;
padding-bottom: 33px;


}

.free{
width: 340px;
padding-top: 17px;
padding-bottom: 14px;
background-color: #333333;
color: rgba(255, 255, 255, 0.5);
margin: 0 0 4px 0;
font-family: 'Open Sans', sans-serif;
text-align: center;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
}

.gb{
list-style-type: none;
padding: 0;
margin: 0 auto;
}
.gbspace{
    width: 340px;
    margin-top: 4px;
    background-color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    color: #86878B;
    padding-top: 10px;
    padding-bottom: 11px;
}
.rate:hover,
.price:hover,
.free:hover{
    background-color: #D98943;
}