.awesome{
    max-width: 1170px;
    max-height: 250px;
    margin: 15px 15px 15px 15px;
}
.awesometext{
    display: block;
width: 409px;
height: 38px;
text-align: center;
}
.text{
    width: 363px;
    height: 19px;
}