.works {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.works_img {
  width: 24.92%;
  height: 100%;
  border: 1px solid #fff;
  position: relative;
}
.works_img:nth-child(1),
.works_img:nth-child(5) {
  border-left: none;
}

.works_img:nth-child(4),
.works_img:nth-child(8) {
  border-right: none;
}
.clo {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.clo::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(232, 69, 69, 0.9);
  opacity: 0;
  transition: all 0.5s ease;
}
.clo:hover::before {
  opacity: 1;
}
.clo:focus::before {
  opacity: 1;
}
.clo:active::before {
  opacity: 1;
}
.works_img_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work_text {
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 140px;
  left: 170px;
}
.clo:hover ~ .work_text {
  opacity: 1;
}

.works_img_title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.works_img_text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
}
@media (max-width: 1856px) {
  .work_text {
    top: 130px;
    left: 150px;
  }
  .works_img {
    width: 24.9%;
  }
}
@media (max-width: 1484px) {
  .work_text {
    top: 90px;
    left: 100px;
  }
  .works_img {
    width: 24.89%;
  }
}
@media (max-width: 1349px) {
  .work_text {
    top: 90px;
    left: 100px;
  }
  .works_img {
    width: 24.88%;
  }
}
@media (max-width: 1236px) {
  .work_text {
    top: 80px;
    left: 80px;
  }
  .works_img {
    width: 24.87%;
  }
}
@media (max-width: 1141px) {
  .work_text {
    top: 70px;
    left: 70px;
  }
  .works_img {
    width: 24.86%;
  }
}
@media (max-width: 1060px) {
  .work_text {
    top: 60px;
    left: 60px;
  }
  .works_img {
    width: 24.85%;
  }
}
@media (max-width: 989px) {
  .work_text {
    top: 160px;
    left: 160px;
  }
  .works_img {
    width: 49.849%;
  }
  .works_img:nth-child(odd) {
    border-left: none;
  }

  .works_img:nth-child(even) {
    border-right: none;
  }
}
@media (max-width: 651px) {
  .works_img {
    width: 100%;
  }
  .work_text {
    top: 200px;
    left: 230px;
  }
  .works_img {
    border-left: none;
    border-right: none;
  }
}
@media (max-width: 500px) {
  .work_text {
    top: 140px;
    left: 170px;
  }
}
@media (max-width: 380px) {
  .work_text {
    top: 100px;
    left: 110px;
  }
}
